<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="4.2.0.8783" targetFramework="net45" />
  <package id="Caliburn.Micro" version="1.4.1" targetFramework="net45" />
  <package id="Dapper" version="1.12.1" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="System.Data.SQLite.x86" version="1.0.84.0" targetFramework="net45" />
</packages>